        


* {
    font-family: cursive;
}

.maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 350px;
    margin: auto;
}

.maincontainer__navlogo {
    display: flex;
    flex-wrap: wrap;
}

.maincontainer__nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-basis: 96%;
    font-size: 11px;
    color: #34ac98;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px 0px;
}

.nav__img {
    display: none;
}

a {
    text-decoration: none;
    color: #34ac98;
}

a:hover {
    color: red;
}

.maincontainer__logo {
    flex-basis: 96%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.maincontainer__image {
    border-bottom: 2px dotted #e4e4e4;
    ;
}

.maincontainer__logo-h3 {
    width: 340px;
    position: absolute;
    top: 424px;
    background-color: aliceblue;
    font-size: 15px;
    margin: 5px 0;
    font-weight: 600;
    opacity: 0.6;
    padding: 5px;
}

.maincontainer__logo-h4 {
    width: 330px;
    position: absolute;
    top: 445px;
    background-color: black;
    color: white;
    font-size: 11px;
    padding: 10px 10px;
    font-weight: 100;
}

.maincontainer__newsletter {
    text-align: left;
    font-size: 10px;
    margin: 20px;
    border-bottom: 2px dotted #e4e4e4;
    padding-bottom: 20px;
}

.newsletter__img {
    margin-right: 7px;
    padding-top: 7px;
    float: left;
}

.maincontainer__newsletter p {
    padding: 5px;
}

.newsletter__input {
    color: gray;
    font-size: 13px;
}

.newsletter__btn {
    font-size: 12px;
    border-radius: 3px;
    background: #e4e4e4;
    padding: 2px 13px;
    font-weight: bold;
}

.main-posts {
    display: flex;
    flex-wrap: wrap;
}

.main-posts__item {
    list-style: none;
}

.main-posts__item img {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #e4e4e4;
}

.main-posts__item h3 {
    flex-basis: 96%;
    text-align: left;
    font-size: 15px;
    color: #34ac98;
    cursor: pointer;
    font-weight: 100;
}

.main-posts__item p {
    font-size: 14px;
    font-family: ff-tisa-web-pro, Georgia, sans-serif;
    line-height: 1.5em;
    padding: 3px;
}

.fcontainer {
    width: 350px;
    margin: auto;
    border-top: 1px solid #e4e4e4;
    height: 90px;
    display: flex;
}

.fcontainer__footer {
    font-size: 10px;
    padding: 5px;
    margin-top: 15px;
    flex-basis: 500px;
}

.fcontainer__social {
    list-style: none;
    padding: 0px;
    display: flex;
}

.fcontainer__footer--rights {
    color: gray;
}


/* MEDIA QUERIES */


/* ==========================================*/

@media all and (min-width:480px) {
    .maincontainer {
        width: 500px;
    }
    .maincontainer__navlogo {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
    .maincontainer__logo {
        justify-content: flex-start;
        flex-shrink: 5;
    }
    .maincontainer__nav {
        border-bottom-style: none;
        align-items: center;
    }
    .maincontainer__logo-h3 {
        top: 334px;
        width: 490px;
    }
    .maincontainer__logo-h4 {
        top: 355px;
        width: 480px;
    }
    .newsletter__input {
        margin: 10px;
    }
    .main-posts {
        padding: 0;
    }
    .main-posts__item {
        width: 40%;
        padding: 20px 5px;
        margin: 15px 18px;
    }
    .post__img {
        height: 150px;
    }
    .fcontainer {
        width: 400px;
    }
    /* ==========================================*/
    
    @media all and (min-width:900px) {
        
        .maincontainer__nav {
            flex-basis: 65%;
        }
         .nav__item {
             flex-basis: 100%;
             font-size: 15px;
             display: flex;
             justify-content: center;
             text-align: center;
             padding: 10px;
             
     
            }
        
        .nav__item:hover .nav__img {
            transform: translate(0px, 3px);

        }

        .nav__item a {
             flex-basis: 100%;

        }

        .nav__img {
            display: flex;
            margin: auto;
            padding-bottom: 5px;
            transition: transform 200ms ease-in-out;

        }

        .maincontainer__logo-h3 {
            background-color: white;
            padding: 15px;
            font-size: 20px;
            opacity: 1;
            font-weight: 100;
            top: 400px;
            width: 200px;
            text-align: center;
            word-spacing: 4px;
        }
        .maincontainer__logo-h4 {
            font-size: 14px;
            top: 443px;
            text-align: center;
            width: 300px;
            word-spacing: 4px;
        }
        .maincontainer__newsletter {
            display: flex;
            align-items: center;
        }
        .maincontainer__newsletter p {
            width: 350px;
        }
        .main-posts {
            flex-wrap: nowrap;
        }
        .main-posts__item {
            width: 24%;
            overflow: hidden;
            padding: 0;
            margin: 5px;
        }
        .fcontainer {
            width: 96%;
        }
        .fcontainer__social {
            align-items: center;
            flex-basis: 100%;
            justify-content: flex-end;
        }
        .fcontainer__footer {
            font-size: 12px;
        }
        .fcontainer__footer--rights {
            font-size: 11px;
        }
        /* ==========================================*/
        
        
        @media all and (min-width:1200px) {
            
            .maincontainer {
                width: 1200px;
                margin-top: 50px;
            }
            .maincontainer__large-div {
                display: flex;
                align-items: center;
    
            }
            .maincontainer__navlogo {
                flex-direction: column-reverse;
                
                
            
            }
            .maincontainer__nav {
                display: block;
                
                
            }
            
            .nav__item {
                display: flex;
                
                
               
                
            }
            
            .nav__item a {
                display: flex;
                align-items: center;
                flex-basis: 100%;
                margin: 4p
            }
            
            .nav__item:hover .nav__img {
                transform: translate(3px, 0px);

            }
            
            .nav__img {
                 transition: transform 200ms ease-in-out;
                 margin: 0px 10px;
                
            }
            
            .maincontainer__logo {
                padding: 0px;
                flex-shrink: 40;
            }
            .maincontainer__logo-h4 {
                top: 380px;
            }
            .maincontainer__logo-h3 {
                top: 350px;
            }
            
            .main-posts {
                flex-basis: 90%;
                justify-content: flex-end;
                
            }
            
            .main-posts__item {
                width: 210px;
                padding-left: 15px;
                
            }
            
            .fcontainer {
                width: 900px;
            }
