
.maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 350px;
    margin: auto;
    
    
}
.maincontainer__navlogo {
    display: flex;
    flex-wrap: wrap;
}

.maincontainer__nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-basis: 100%;
    font-family:cursive;
    font-size: 12px;
    color: rgb(20, 111, 20);
    border-bottom-style:ridge;
    padding: 5px;

}

.nav__img {
    display: none;
    
    

}

a {
    text-decoration: none;
    color: #34ac98;
    
    
}

a:hover {
    color: red;
}

.maincontainer__logo {
    
    flex-basis: 100%;
    height: 140px;
    display: flex;
    justify-content: center;

    
}

.maincontainer__image {
    flex-basis: 100%;
    
    display: flex;
    justify-content: center;
    padding: 10px;
    
    
}

.maincontainer__newsletter {
    
    flex-basis: 100%;
    text-align: center;
    display: flex;
    font-size: 13px;
    padding: 40px;
    justify-content: center;
    
    
}


.maincontainer__main {
    display: flex;
    height: 1200px;
    margin-top: 20px;
    
    
}


.main-posts {

    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    
    
    
        

}

.main-posts__item {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
   
    
    
}

.fcontainer {

    width: 350px;
    margin: auto;
    border-top-style: ridge;
    height: 90px;
    display: flex;
        
    
}


.fcontainer__footer {
    font-size: 10px;
    padding: 5px;
     margin-top: 15px;
    flex-basis: 500px;
    
    
        
}



.fcontainer__social {
    
    list-style: none;
    padding: 0px;
    display: flex;

    
    
}

.fcontainer__footer--rights {
    
    color: gray;
    
    
}



@media all and (min-width:500px) {
    
    
    
    .maincontainer {
        width: 500px;
    }
    
        .maincontainer__navlogo {
            flex-basis: 100%;
            flex-wrap: nowrap;
            flex-direction: row-reverse;

            
            
    }
    
      .maincontainer__logo {
        justify-content: flex-start;
        flex-shrink: 5;
          
        
    }
    
    
    .maincontainer__nav {
        border-bottom-style: none;
        flex-grow: 5px;
        align-items: center;

        
               
         
    }
    
    
  
    .main-posts__item {
        flex-basis: 50%;
        
        
        
    }
    
    .post__img {
        height: 150px
        
    }
    
    
    
    .maincontainer__main {
        height: 650px;
        
    
    }
    
   
        
     .fcontainer {
        width: 500px;
    }
            
    
    
        
    @media all and (min-width:750px) {
        
        .maincontainer {
            width: 750px;
        }
        
        .nav__img {
            display:flex;
            
            
            
        }
        
        .maincontainer__nav {
            justify-content: space-between;
            align-items:center;
            font-size: 14px;
            flex-shrink: 3
            
            
        }
        
        .nav__item {
            display: flex;
            justify-content: flex-end;
            
        }
        
              .maincontainer__logo {
                  flex-shrink:                
        }
        
        
        
         .maincontainer__navlogo {
            flex-basis: 100%;
        }
             
        .post__img {
        height: 120px;
            
        
    }
             
         .maincontainer__main {
             flex-basis: 100%;
             height: 400px
             
                     
                 
             }
             
        .main-posts__item {
            flex-basis: 25%;
            
             
        }
        
        
        .maincontainer__newsletter {
            text-align:left;

    
    
}

        
        .fcontainer {
            width: 750px;
        }
        
        .fcontainer__social {
            align-items: center;
            flex-basis: 100%;
            justify-content: flex-end;
        
        }
        
        .fcontainer__footer {
            font-size: 12px;
        }
        
        .fcontainer__footer--rights {
            font-size: 11px;
        
        }
  
            @media all and (min-width:1000px) {
        
                .maincontainer {
                    width: 900px;
                }
                
               
                
                .maincontainer__navlogo {
                    flex-direction: column-reverse;
                    
                    
                }
                .maincontainer__nav {
                    flex-direction: column;
                    align-items: flex-start;
                    flex-shrink:
                    width: 100px;
                    
                    
                    
                    
                }
                
                .nav__item {
                    flex-basis: 100%;
                    width: 200px;
                    justify-content: flex-start;
                    text-align: center;
                    
                    
                    
                    
                }
            
                .maincontainer__logo {
                    width: 140px;
                    height: 200px;
                    flex-shrink: 6;
                
            }
                
                .maincontainer__image {
                    margin-top: 5px;
                    
                }
                
                .nav__title {
                    
                    
                }
                
            
                
                
                 .fcontainer {
                    width: 900px;
                }
        
        